<!DOCTYPE html>
<html>
<head>
	<title>
		App
	</title>
	<link rel="stylesheet" type="text/css" href="../public/css/profile.css">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

</head>
<body>
      <div class="header">
       	<div class="main">
       		 <a class="logo" href="/"><img src="../public/img/logoasap8.png"></a>
       	</div> 
      <div class="nav-items">
      	<ul class="log">
      		<li>
      			<a class="head-link" href="/products">Products</a>
      		</li>
      		<li>
      			<a class="head-link"  href="/apply">Apply Insurance</a>
      		</li>
		
      	</ul>
      </div>
     </div>
     </div>

	 <div class="plan">
      	<h2 class="head">Available Agents</h2>
     </div>
       <hr>
     <div class="plans">

         {{#each agents}}
     	  <div class="plans-item">
			<p>Name : {{name}}</p>
			<p>Phone : {{phone}}</p>
	 	     <p>Email : {{email}}</p>
			<p>CID . No:  {{cid}}</p>
     	  </div>
         {{/each }}
     	  
 
     </div>
</body>
</html>