<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ASAP Life Insurance</title>
    <link rel="stylesheet" href="../public/css/apply.css" />
  </head>
  <body>
    <div class="home">
      <div class="home1">
        <header>
          <div id="main_nav">
            <nav>
              <div id="logo1">
                <img src="../public/img/logoasap8.png" alt="" height="50px" />
              </div>
              <h4>Products</h4>
              <h4>About Us</h4>
              <h4>Login/Signup</h4>
              <img src="../public/img/icons8-menu.svg" alt="burger" />
            </nav>
          </div>
          <br />
          <main>
            <br />
            <h1>Apply for Insurance</h1>
            <br>
            <br />
            <form  action="/apply" method="POST">
              Name: <br />
              <input class="login" type="text" placeholder="" name="name" />
              <br />
               Email: <br>
              <input class="login" type="text" placeholder="" name="email" />
       
             <br>
              <div class="sel">
                   <p  >Sex : <br>
                <select name="sex" >
                  <option  value="male">Male</option>
                 <option  value="female">Female</option>
                  <option  value="others">Others</option>
               </select>
               </p>
             <p>  Birthday : <br> <input type="date" placeholder="" name="bday" /> </p>  
         
              <br />
      
              Address:<br />
              <input class="login" type="text" placeholder="" name="address" />
              <br />
              Phone no:<br />
              <input class="login" type="text" placeholder="" name="phone" />
              <br />
              Aadhaar no:<br />
              <input class="login" type="text" placeholder="" name="adhar" />
              <br /> 
                     <div class="selector">
                      <input  type="radio" name="insurance_type" value="Car" checked>Car
                      <input   type="radio" name="insurance_type" value="House"> House
                      <input type="radio" name="insurance_type" value="Health">Health
                </div>
                <span></span>
              <span></span>
              <span></span>
              <span></span>
              <button>Apply</button>
            </form>
            <br>
            <br />
            <br />
          </main>
        </header>
      </div>
    </div>
  </body>
</html>
