<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ASAP Life Insurance</title>
    <link rel="stylesheet" href="../public/css/signup_style.css" />
    <link rel="icon" href="../public/img/logoasap2.png">
  </head>
  <body>
    <div class="home">
      <div class="home1">
        <header>
          <div id="main_nav">
            <nav>
              <div id="logo1">
                <img src="../public/img/logoasap8.png" alt="" height="50px">
          
              </div>
              <h4><a class="bt" href="/index">Home</a></h4>
              <h4><a class="bt" href="/products">Products</a></h4>
              <h4><a class="bt" href="../views/Premium Calculator/protection01.html">Premium Calculator</a></h4>
              <h4><a class="bt" href="/apply">Apply Now</a></h4>
              <h4><a class="bt" href="/agents">Agents</a></h4>
              <h4><a class="bt" href="/claim">Policy Claim</a></h4>
              <h4><a class="bt" href="/grievance">Grievance</a></h4>
              <h4><a class="bt" href="/help">Help</a></h4>
            </nav>
          
          </div>
        <br>
          <main><br><br><br>
            <br>
           
            <form  method="POST" action="/edit">
              <div class="log">
              Name:<br>
              <input  type="text" name="name"><br> 
                Password:<br>
              <input type="password" name="password"> <br> <br>  
                Phone:<br>
              <input type="Phone" name="phone"> <br> <br> 
              <div>
                 <h4>{{messages.error}}</h4>
                 </div>    <br>
               </div>
           <button>Signup</button> 
            </form>
            <br>
            <br>
          </main>
      </header>
      </div>
    </div>
  </body>
</html>
