<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ASAP Life Insurance</title>
  <link rel="stylesheet" href="../public/css/help.css">
  <link rel="icon" href="../public/img/logoasap2.png">
</head>

<body data-gr-c-s-loaded="true">
  <div class="home">
    <div class="home1">
      <header>
        <div id="main_nav">
          <nav>
            <div id="logo1">
              <img src="../public/img/logoasap8.png" alt="" height="50px">

            </div>
            <h4><a class="bt" href="/index">Home</a></h4>
            <h4><a class="bt" href="/products">Products</a></h4>
            <h4><a class="bt" href="../views/Premium Calculator/protection01.html">Premium Calculator</a></h4>
            <h4><a class="bt" href="/apply">Apply Now</a></h4>
            <h4><a class="bt" href="/agents">Agents</a></h4>
            <h4><a class="bt" href="/claim">Policy Claim</a></h4>
            <h4><a class="bt" href="/grievance">Grievance</a></h4>
            <h4><a class="bt" href="/login">Login</a></h4>
          </nav>

        </div>
        <br>
        <div class="row">
          <div class="column">
            <br><br>
            <h2><strong>ONLINE HELP FOR CUSTOMERS</strong></h2>
            <br>
            <br>
            <br>
            <h2><strong>Hello Customers!</strong></h2>
            <br>
            <br>
            <br>


            <p id="cust">Insurance is a way of managing risks. When you buy insurance, you transfer the cost of a
              potential loss to the insurance company in exchange for a fee, known as the premium. Insurance
              companies invest the funds securely, so it can grow, and pay out when there’s a claim.-
            </p>
            <br>
            <ol>
              <br>
              <li><strong><u>Shop smart.</u></strong> When looking for insurance, your no. 1 priority should be to find
                adequate coverage. Price is important, but you’ll want to determine what kind of coverage you need
                first. Then you can fit that coverage into your budget and determine which carrier can provide you with
                the most comprehensive policy for your situation. You may be tempted to choose insurance with the lowest
                price tag, but if you don’t have enough coverage (or the right kind of coverage), you will see less
                financial benefit when it comes time to file a claim.</li>
              <br>
              <li><strong><u>Look for discounts.</strong></u> Once you evaluate your coverage needs, factor in your
                budget and find ways to save. Ask your insurance agent if there are any discounts on your coverage.
                Often, carriers offer discounts for things like paying your policy in full, staying auto accident-free
                or, if you’re in school, getting good grades. You also can save money by “bundling” multiple policies,
                such as purchasing a home and auto policy from the same carrier.</li>
              <br>
              <li><strong><u>Fill in the gaps.</strong></u> An average policy will cover the basics, but you may need to
                add extra coverage to meet your unique needs. For instance, you may have items like electronics or a
                nice piece of jewelry that would be financially difficult to replace, even with the assistance of your
                average renters or homeowners policy. You may want to add additional coverage for these items.</li>
              <br>
              <li><strong><u>Purchase life insurance—you aren’t too young.</strong></u> Life insurance is essential, no
                matter how young or old you are. And for millennials, buying now may be a smart move because it’s
                cheaper to buy a life insurance policy when you’re young and healthy. This kind of insurance can help
                your family cover unexpected costs in your absence, including student loan debt or a mortgage, in
                addition to end-of-life costs. And if you have kids, a life insurance policy can also support their
                education or childcare expenses. Additionally, every millennial should consider long-term disability
                coverage, which helps you stay afloat financially if an accident happens and you become disabled and
                unable to work.</li>
              <br>
              <li><strong><u>Talk to an independent agent.</strong></u> An independent insurance agent is an essential
                resource when purchasing insurance—especially if this is your first time. An independent agent works
                with multiple different carriers, which is different from captive agents who can only sell insurance
                from the carrier they work for. Working with an independent agent can help make sure that you are
                getting the best coverage, for the best price. You’ll also benefit from independent agents’ insurance
                knowledge; they know how to talk you through your options and actually explain what each policy
                includes. An independent agent will make sure all of your assets are covered, help you find discounts or
                other ways to save, and be a valuable resource as your life changes and your insurance needs change,
                too.</li>
            </ol>


            <br>
            <h3><u>For Health Insurance-</u></h3><br>
            <iframe width="520" height="315" src="https://www.youtube.com/embed/TCJiUa1-ePw">
            </iframe>
            <br><br>
            <h3><u>For Vehicle Insurance-</u></h3><br>
            <iframe width="520" height="315" src="https://www.youtube.com/embed/JF_0oBbjG-M">
            </iframe>
            <br><br>
            <h3><u>For Travel Insurance-</u></h3><br>
            <iframe width="520" height="315" src="https://www.youtube.com/embed/-uAFUCqGX-E">
            </iframe> <br>


          </div>
          <div class="column1">
            <br><br>
            <h2><strong>TRAINING MODULES FOR AGENTS</strong></h2>
            <br>
            <br>
            <br>
            <h2>Hello Agents!</h2>
            <br>
            <br>
            <br>


            <p id="cust">Selling insurance can be tricky, especially if you’re a young or inexperienced insurance agent.
              Insurance can sometimes be expensive and isn’t a product that the customer can see, hold, or touch. This
              can make selling insurance a challenge for some agents, but these insurance sales tips can help! To
              increase your commission, you need easy-to-implement information. Here are some insurance sales tips for
              those agents that are new or simply want to take the next step in their career:-
            </p>
            <br>
            <ol>

              <br>
              <li><strong><u>Build trust and confidence by dressing professionally</u></strong> Here’s the first of our
                insurance sales tips: in the insurance world you’re selling trust. Your customers need to have
                confidence and faith in you if they are going to buy from you. A professional appearance conveys
                success. To your customers, someone who looks the part of an insurance agent must know what they are
                talking about, so dressing professionally will help people to take you more seriously.</li>
              <br>
              <li><strong><u>Demonstrate knowledge and avoid slang</strong></u> While this one should be obvious, it’s
                still included in our list of insurance sales tips because of its importance. Always use proper
                vocabulary and don’t use slang words or terminology that you would use in text messages, online chats,
                or emails with your friends. When building a career as an insurance professional you must use words that
                will build and maintain trust with your target audience.</li>
              <br>
              <li><strong><u>Find a way to relate to your customers</strong></u> Good salespeople already know this
                insurance sales tip: always find common ground with your customers. Perhaps you are 25 years old but
                your prospect is 63 years old and about to retire. What could you possibly have in common? You may both
                have the same favorite sports team, perhaps you have lived in the same state, or maybe you both share a
                love of your friends and family. Find common ground and use that to build a rapport with your customers
                that will boost long-term brand loyalty.</li>
              <br>
              <li><strong><u>Learn from your experienced co-workers</strong></u> Everyone must start somewhere. One of
                our great insurance sales tips is to learn from your experienced co-workers, even those that aren’t
                necessarily tech-savvy. A fellow insurance agent at your company might not be as good with computers,
                but he or she has been working in insurance for decades longer than you have. With age comes wisdom and
                experience. Ask more experienced agents questions and learn to take advice and constructive criticism.
                In the end, it will make you a better insurance agent.</li>
              <br>
              <li><strong><u>Listen and watch yourself talking to clients</strong></u> For those of you looking for
                insurance sales tips that you haven’t already tried, here’s a good one: listen and watch yourself
                talking to clients. The point of doing this is to hear and see yourself exactly as your customers see
                you. Record a message to yourself at work as if you were leaving a message for a client and then listen
                to the playback. Do you sound confident and professional? Record a video of yourself (on your phone or
                tablet) as if you are talking to a customer about a new insurance policy. Pay close attention to what
                you are doing that might be distracting or detracting from your overall presentation.</li>
            </ol>


            <br>
            <h3><u>Training Modules-</u></h3><br>
            <iframe width="520" height="315" src="https://www.youtube.com/embed/BURSkLgSUqg">
            </iframe>

            <br>
            </main>
      </header>
    </div>
  </div>
</body>

</html>