<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ASAP Insurance Ltd.</title>
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="../public/css/bootstrap.min.css" />

  <link rel="icon" href="#" />
  <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/carousel/" />

  <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../public/css/carousel.css" rel="stylesheet" />
  <link rel="icon" href="../public/img/logoasap2.png">
</head>

<body>
  <div class="home">
    <div class="home1">
      <header>
        <div id="main_nav">
          <nav>
            <div id="logo1">
              <img src="../public/img/logoasap8.png" alt="" height="50px">

            </div>
            <h4><a class="bt" href="/products">Products</a></h4>
            <h4><a class="bt" href="../views/Premium Calculator/protection01.html">Premium Calculator</a></h4>
            <h4><a class="bt" href="/apply">Apply Now</a></h4>
            <h4><a class="bt" href="/agents">Agents</a></h4>
            <h4><a class="bt" href="/claim">Policy Claim</a></h4>
            <h4><a class="bt" href="/help">Help</a></h4>
            <h4><a class="bt" href="/grievance">Grievance</a></h4>
            <h4><a class="bt" href="/login">Login</a></h4>
          </nav>

        </div>
        <main>
          <section class="landing">
            <div class="options">
              <div>
                <img class="photo1" src="../public/img/photo1.png" alt="" />
              </div>
              <h1>I want insurance for</h1>
              <br />
              <nav id="choice1">
                <a href="/products"><img src="../public/img/health.svg" alt="" height="100px" width="100px" /></a>
                <a href="/products"><img src="../public/img/car.svg" alt="" height="100px" width="100px" /></a>
                <a href="/products"><img src="../public/img/travel.svg" alt="" height="100px" width="100px" /></a>
              </nav>
              <nav id="choice">
                <a href="/products">
                  <p>Health</p>
                </a>
                <a href="/products">
                  <p>Vehicle</p>
                </a>
                <a href="/products">
                  <p>Travel</p>
                </a>
              </nav>
              <br /><br /><br />
            </div>
          </section>
          <h1>Why Choose ASAP Insurace?</h1>
          <br />
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="first-slide" src="../public/img/trophies.jpg" alt="First slide" />
                <div class="container">
                  <div class="carousel-caption">
                    <h1>
                      No.1 Rated Insurance Company for 5 Years in a Row.
                    </h1>
                    <p>
                      <a class="btn btn-lg btn-primary" href="/apply" role="button">Apply Now</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img class="second-slide" src="../public/img/coverage.jpg" alt="Second slide" />
                <div class="container">
                  <div class="carousel-caption">
                    <h1>
                      Highest Extent of Coverage and Scope of Beneficiaries.
                    </h1>
                    <p>
                      <a class="btn btn-lg btn-primary" href="/apply" role="button">Apply Now</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img class="third-slide" src="../public/img/handshake.jpg" alt="Third slide" />
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Easy Claim Settlement Policy</h1>
                    <p>
                      <a class="btn btn-lg btn-primary" href="#" role="button">Apply Now</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="sr-only"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="sr-only">></span>
            </a>
          </div>
          <!-- /.carousel -->

          <!-- Marketing messaging and featurettes
                ================================================== -->
          <!-- Wrap the rest of the page in another container to center all the content. -->
          <h1>What our Customers are saying?</h1>

          <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="img-circle" src="../public/img/people (2).jpg" alt="Generic placeholder image" width="140"
                  height="140" />
                <h2>Anil</h2>
                <p>
                  It works they way I expect it to. This has only seemed to work out for me with auto insurance.
                  Companies like
                  Progressive have made it pretty painless to set up a policy.
                </p>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="img-circle" src="../public/img/people (1).jpg" alt="Generic placeholder image" width="140"
                  height="140" />
                <h2>Priya</h2>
                <p>
                  When I think insurance I think about protecting my life style that I currently live. I know that if I
                  have the right
                  coverage's in place and something major happens to me or my family we wouldn't have to sell the house
                  and find a really
                  small cheap studio to make it.
                </p>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="img-circle" src="../public/img/people (3).jpg" alt="Generic placeholder image" width="140"
                  height="140" />
                <h2>Hemant</h2>
                <p>
                  I don’t want my death to be a burden on the people
                  I love. I want to ensure that my children and grandchildren look back and say
                  that I did everything I could to make their lives better. And, for
                  me, life insurance helps make that possible.
                  <br><br><br><br><br>
                </p>
              </div>
              <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

            <!-- START THE FEATURETTES -->
            <div class="news">
              <hr class="featurette-divider" />
              <br>
              <h1>News and Notices</h1>
              <br>
              <div class="pcontainer">
                <div class="pcard">
                  <div class="imgbx">
                    <img src="../public/img/my.jpeg">
                  </div>
                  <div class="pcontent">
                    <div>
                      <h2>News</h2>
                      <p>Irdai to extend renewal dates of health, motor third-party policies.</p>
                      <p><a
                          href="https://indianexpress.com/article/business/irdai-to-extend-renewal-dates-of-health-motor-third-party-policies-6425692/"><button>View</button></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="pcard">
                  <div class="imgbx">
                    <img src="../public/img/union.jpeg">
                  </div>
                  <div class="pcontent">
                    <div>
                      <h2>News</h2>
                      <p>IRDAI permits Union Bank to continue with IndiaFirst stake.</p>
                      <a
                        href="https://economictimes.indiatimes.com/markets/stocks/news/irdai-permits-union-bank-to-continue-with-indiafirst-stake/articleshow/75871435.cms"><button>View</button></a>
                    </div>
                  </div>
                </div>
                <div class="pcard">
                  <div class="imgbx">
                    <img src="../public/img/offer.jpeg">
                  </div>
                  <div class="pcontent">
                    <div>
                      <h2>Notice</h2>
                      <p> Insurance Research Grant Scheme, 2019-20</p>
                      <a
                        href="https://www.irdai.gov.in/ADMINCMS/cms/frmGeneral_Layout.aspx?page=PageNo3934&flag=1"><button>View</button></a>
                    </div>
                  </div>
                </div>
                <div class="pcard">
                  <div class="imgbx">
                    <img src="../public/img/stop.jpeg">
                  </div>
                  <div class="pcontent">
                    <div>
                      <h2>Notice</h2>
                      <p>Spurious Phone Calls and Fictitious / Fraudulent Offers</p>
                      <a
                        href="https://www.irdai.gov.in/ADMINCMS/cms/frmGeneral_Layout.aspx?page=PageNo3895&flag=1"><button>View</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <!-- FOOTER -->

          </div>
          <div class="footer">

            <div>
              &copy; 2020 ASAP Insurance Company, Inc. &middot;
              <a href="#">Privacy</a> &middot;
              <a href="#">Terms</a>
            </div>
            <div class="pull-right"><a href="#">Back to Top</a></div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="../public/js/bootstrap.min.js"></script>

          <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>

<!--
<div class="pages">
  <div class="page-1">
    <img src="/SE_Lab-master/img/dot filled.svg" alt="" />
  </div>
  <div class="page-2">
    <img src="/SE_Lab-master/img/dot empty.svg" alt="" />
  </div>
  <div class="page-3">
    <img src="/SE_Lab-master/img/dot empty.svg" alt="" />
  </div>
</div>
-->