<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ASAP Insurance Ltd.</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />

    <link rel="icon" href="#" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/3.3/examples/carousel/"
    />

    <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../public/css/carousel.css" rel="stylesheet" />
    <link rel="icon" href="../public/img/logoasap2.png">
  </head>
  <body>
    <div class="home">
      <div class="home1">
        <header>
          <div id="main_nav">
            <nav>
              <div id="logo1">
                <img src="../public/img/logoasap8.png" alt="" height="50px">
          
              </div>
              <h4><a class="bt" href="/index">Home</a></h4>
              <h4><a class="bt" href="/products">Products</a></h4>
              <h4><a class="bt" href="../views/Premium Calculator/protection01.html">Premium Calculator</a></h4>
              <h4><a class="bt" href="/apply">Apply Now</a></h4>
              <h4><a class="bt" href="/agents">Agents</a></h4>
              <h4><a class="bt" href="/claim">Policy Claim</a></h4>
              <h4><a class="bt" href="/grievance">Grievance</a></h4>
              <h4><a class="bt" href="/help">Help</a></h4>
            </nav>
          
          </div>

             <h1>Thankyou For Creating Account on ASAP , Please click on the Link sent to your Email Adderess to verify Your Email Address </h1>
         <h2> If your Email is verified Click Here to Login <a href="/login">Login</a></h2>
           
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="../public/js/bootstrap.min.js"></script>
           
    <script src="../public/js/bootstrap.min.js"></script>
  </body>
</html>

