<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ASAP Insurance Ltd.</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />

    <link rel="icon" href="#" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/3.3/examples/carousel/"
    />

    <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../public/css/carousel.css" rel="stylesheet" />
  </head>
  <body>
    <div class="home">
      <div class="home1">
        <header>
          <div id="main_nav">
            <nav>
              <a href="../index.html">
                <div id="logo1">
                  <img src="../public/img/logoasap8.png" alt="" height="70px" />
                  <h3 class="logo"></h3></div
              ></a>
              <a href="/products"><h4>Products</h4></a>
              <h4>About Us</h4>
              <a href="/login"><h4>Login</h4></a>
              <img src="../public/img/icons8-menu.svg" alt="burger" />
            </nav>
          </div>

             <h1>Thankyou For Creating Account on ASAP , Please click on the Link sent to your Email Adderess to verify Your Email Address </h1>
         <h2> If your Email is verified Click Here to Login <a href="/login">Login</a></h2>
           
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="../public/js/bootstrap.min.js"></script>
           
    <script src="../public/js/bootstrap.min.js"></script>
  </body>
</html>

