*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}

html
{
  background: rgba(43, 55, 96, 1);
}

@font-face {
  font-family: PopLight;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: PopRegular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PopBold;
  src: url(../fonts/Poppins-Bold.ttf);
}

body {
  font-family: PopLight;
 
}


button {
  background-color: rgba(11, 16,35,1);
  border: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 4px solid #2196f3;
  border-radius: 10px;

}
button:hover
{
  color:#2196f3;
}

button:active
{
  color:#2196f3;
}
.home {
  color: white;
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
  font-weight: 100;
}



.home1 {
  width: 100%;
  margin: auto;
}

#main_nav{
  background-color: rgba(65, 76, 117, 0.7);
  margin: 0px -67px;
  padding: 0px 67px;
}

#logo1{
  display: flex;
}

nav {
  min-height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo {
  font-size: 30px;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

#logo1{
  display: flex;
}
a
{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

a:hover
{
  color: #255784;
  background-color: #2196f3;;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3 0 0 80px #2196f3;
  transition-delay: 1s;

}

a span
{
  position: absolute;
  display: block;
}

a span:nth-child(1)
{
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);

}

a:hover span:nth-child(1)
{
  left: 100%;
  transition: 1s;
}



a span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}

a:hover span:nth-child(3)
{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}


a span:nth-child(2)
{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);

}

a:hover span:nth-child(2)
{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}


a span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);

}

a:hover span:nth-child(4)
{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.login  {
    width: 20%;
    padding: 10px 5px;
    margin: 10px 5px;
    box-sizing: border-box;  
    border: 4px solid #2196f3;
    border-radius: 5px;  
    background-color: #fff;
    display: inline-block;
}

.name
{
  display: inline-block;
  margin: 20px 30px 20px 20px;
  width: 20%;
  padding: 20px 20px;
  height: 10px;
}
  .hr
  {
     height: 40px;
     width: 50px;
       display: inline-block;
       margin: 20px 500px 20px 200px;
       padding: 20px 20px;
    
  }
  .hr input
  {
    height: 40px;
    width:400px;
    border: 4px solid #2196f3;
    border-radius: 5px;
    padding: 10px 10px;
  }
  .hr div{
    padding: 20px;
    margin:10px 20px;
    display: inline-block;
  }

.sel p{
  margin:20px 40px;
  display:inline-block;
}
 .sl{
   background:radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1)); ;
 }

 .st{
   margin-left: 250px;
 }
 .st div
 {
   padding: 20px;
   margin:10px 20px;
   display: inline-block;
  
 }

.plan
{
  width: 250px;
  height: 30px;
  margin: 20px 20px;
}

.inp input
{
  margin: 20px 0;
}

.slt
{
  width: 400px;
  height: 40px;
  margin-top: 20px;
  border: 4px solid #2196f3;
  border-radius: 5px;
}
.logo-link
{
  margin-left: 30px;
  padding: 0;
}
.btn
{
  text-align: center;
  margin:50px 0 100px 0;
}
.bt
{
  background:radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));;	
  color: white;
  border-radius: 5px;
} 

