@import url("https://fonts.googleapis.com/css?family=Poppins:300&display=swap");
@font-face {
  font-family: PopLight;
  src: url(../fonts/Poppins-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}

button {
  margin: 20px auto 0 auto;
  background-color: rgba(11, 16, 35, 1);
  border: none;
  color: white;
  padding: 20px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  width: 400px;
}



#main_nav {
  width: 100%;
  background-color: rgba(65, 76, 117, 0.7);
  margin: 0px 0px;
  padding: 0px 0px;
  color: white;
  font-family: PopLight;
}

a {
  color: white;
  text-decoration: none;
}

.product-heading {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  color: rgb(52, 145, 221);
}

#logo1 {
  display: flex;
}

nav {
  min-height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.logo {
  font-size: 30px;
}

section:nth-child(2n + 1) {
  position: relative;
  height: auto;

  display: flex;
  flex-direction: row-reverse;
}

section:nth-child(2n + 2) {
  position: relative;
  height: auto;
  display: flex;
}

section .imgbox {
  position: sticky;
  top: 0;
  min-width: 60%;
  height: 100vh;
}

section .imgbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

section:nth-child(2n + 1) .content {
  padding: 100px 0 100px 100px;
  text-align: left;
}

section:nth-child(2n + 2) .content {
  padding: 100px 100px 100px 0;
  text-align: left;
}

section .content h1 {
  margin: 0 0 20px;
  font-size: 35px;
  color: rgb(52, 145, 221);
}

section .content p {
  color: white;
  font-size: 18px;
}
li {
  font-size: 20px;
  color: white;
}
