*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: PopRegular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PopBold;
  src: url(../fonts/Poppins-Bold.ttf);
}

.profile-image img {
  height: 300px;
  width: 300px;
  float: left;
}



body {
  overflow-x: hidden;
  font-family: PopLight !important;
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: none;
  color: white !important;
}

body {
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.data h3 {
  font-size: medium;
  margin-top: 10px;
}

body {
  font-family: PopLight;
  text-align: center;
}

.home {
  color: white;
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}
#choice {
  margin: auto;
  width: 66%;
}
#choice1 {
  margin: auto;
  width: 70%;
}

.home1 {
  width: 93%;
  margin: auto;
}

#main_nav {
  background-color: rgba(65, 76, 117, 0.7);
  margin: 0px -67px;
  padding: 0px 67px;
  font-family: PopLight;
}

#logo1 {
  display: flex;
}

nav {
  min-height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.carousel-caption {
  border-radius: 40px;
  background-color: rgba(11, 16, 35, 0.4);
}

.logo {
  font-size: 30px;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.photo1 {
  width: 100%;
  margin: 0 0 30px 0;
}

.photo2 {
  width: 70%;
  margin: 10px;
}
.photo3 {
  width: 70%;
  margin: 10px;
}

.whyuspara {
  text-align: center;
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.pages img {
  width: 10px;
  height: 10px;
}

.bt {
  color: white;
  border-radius: 5px;
  padding: 15px 15px;
}
.bt:hover {
  color: white;
}
.bt:active {
  color: white;
}

.footer {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-size: 16px;
}

.footer div {
  margin-top: 30px;
  margin-bottom: 20px;
}

.pcontainer {
  position: relative;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 10px auto 50px auto;
}

.pcontainer .pcard {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}
.pcontainer .pcard:nth-child(even) {
  flex-direction: column-reverse;
}
.pcontainer .pcard .imgbx {
  position: relative;
  width: 250px;
  height: 250px;
  background: #000000;
}

.pcontainer .pcard .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pcontainer .pcard .pcontent {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pcontainer .pcard .pcontent div {
  padding: 20px;
  text-align: center;
}
.pcontainer .pcard .pcontent div button {
  padding: 4px 10px;
  background-color: #2e6da4;
  border: none;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .pcontainer {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin: 50px;
  }
  .pcontainer .pcard {
    flex-direction: row;
    margin: 10px 0;
  }
  .pcontainer .pcard:nth-child(even) {
    flex-direction: row-reverse;
  }
  .pcontainer .pcard .imgbx,
  .pcontainer .pcard .pcontent {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .pcontainer .pcard {
    flex-direction: column;
    margin: 10px 0;
  }
  .pcontainer .pcard:nth-child(even) {
    flex-direction: column;
  }
  .pcontainer .pcard .imgbx,
  .pcontainer .pcard .pcontent {
    width: 100%;
  }
  .pcontainer .pcard .pcontent {
    height: 100%;
  }
}

.pull-right {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}
