<!DOCTYPE html>
<html lang="en"> 
<head>
<meta name="viewport" content="width=device-width, initial scale=1, user-scalable=0"/>
<meta charset="utf-8" />
<title>Premium Calculator - ASAP Insurance Ltd.</title>
<meta name="">
<meta name="">
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive-menu.css" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css" />
<link href="css/btnfrom.css" rel="stylesheet">
<link href="css/reset.css" rel="stylesheet">
<link rel="stylesheet" href="css/fancybox/jquery.fancybox-buttons.css">
<link rel="stylesheet" href="css/fancybox/jquery.fancybox-thumbs.css">
<link rel="stylesheet" href="css/fancybox/jquery.fancybox.css">
<script src="js/modernizr.js"></script>
<style type="text/css">
body{
	font-family: Lato;
}
</style>
	
<script>window.jQuery || document.write('<script src="lib/jquery-legacy/jquery.js"><\/script>')</script>
<script src="js/responsive-menu.js" type="text/javascript"></script>
<script>
	jQuery(function ($) {
		var menu = $('.rm-nav').rMenu({
			minWidth: '1024px',
		});
	});
</script>


</head>
	
<body> 
<header>
	<div class="wrapper">
		<div id="main_nav">
			<nav>
				<div id="logo1">
					<img src="../../public/img/logoasap8.png" alt="">
		
				</div><h4><a class="bt" href="/index">Home</a></h4>
				<h4><a class="bt" href="/products">Products</a></h4>
				<h4><a class="bt" href="/agents">Agents</a></h4>
				<h4><a class="bt" href="/claim">Policy Claim</a></h4>
				<h4><a class="bt" href="/help">Help</a></h4>
				<h4><a class="bt" href="/login">Login</a></h4>
			</nav>
		
		</div>
<!--
	<div class="rm-container">
			<a class="rm-toggle rm-button rm-nojs" href="#"> </a>

			<nav class="rm-nav rm-nojs rm-lighten">
				<ul>
					<li><a href="protection01.html" ><img src="images/call.png" alt=""></a></li>
					<li><a href="about_company.html"><img src="images/meetadv.png" alt=""></a></li>
				</ul>
			</nav>
		</div>--->
		
		
	</div>
</header>

<div class="wrap-text"><span>&nbsp;</span>
	<div class="sec-title">Your term insurance premium calculator</div>
</div>

<form method="post" action="">
<div class="wrap-sec">
	<div class="policy01">
	<h6>Gender</h6>
	<box>
		<div class="reportone1">
			<input id="lnkMale" type="radio" name="gender" class="css-radio29" onclick="selectGender('Male')">  
			<label class="css-label29" for="lnkMale"></label>
		</div>
		<div class="reportone2">
			<input id="lnkFemale" type="radio" name="gender" class="css-radio28" onclick="selectGender('Female')"> 
			<label class="css-label28" for="lnkFemale"></label>
		</div> 
          
	</box>
	</div>

	<div class="policy02">
		<h6>Date of Birth<br><span>dd/mm/yyyy</span></h6>
		<box>
			<div><img src="images/DOB_N.png" alt=""></div>
			<input id="bday" type="date" name="bday" class="admindrop01" onchange="submitBday()"  >
     
			<input id="HowOld" hidden="" >
			<p id="resultBday" ></p>
            
		</box>
	</div>

	<div class="policy03">
		<h6>Your Smoking Habit</h6>
		<box>
			<div class="reportone3">
				<input id="lnkNonSmoker" type="radio" name="smoking" class="css-radio30" onclick="selectSmoking('NonSmoker')">
				<label class="css-radio30" for="lnkNonSmoker"></label>
			</div>
			<div class="reportone4">
				<input id="lnkSmoker" type="radio" name="smoking" class="css-radio31" onclick="selectSmoking('Smoker')">
				<label class="css-radio31" for="lnkSmoker"></label>
			</div> 
		</box>
	</div>
</div>

<div class="wrap-sec2">
	<div class="quote_btn">
		<!--<a href="protection02.html" onclick="addProtectionScreen1Values()">Generate Quote</a>-->
		<a onclick="clickedButton()">Generate Quote</a>
        
	</div>
</div>   

</form>
	
<div class="footermain"><div class="footer_L">
	Copyrights &copy; ASAP Insurance Company Ltd. All Rights Reserved</div>
    
        

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
<!-- FancyBox -->

<script src="js/fancybox/jquery.fancybox.js"></script>
<script src="js/fancybox/jquery.fancybox-buttons.js"></script>
<script src="js/fancybox/jquery.fancybox-thumbs.js"></script>
<script src="js/fancybox/jquery.easing-1.3.pack.js"></script>
<script src="js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
        
<script type="text/javascript">
        	$(document).ready(function() {
				$(".various").fancybox({
					maxWidth	: 600,
					maxHeight	: 500,
					fitToView	: true,
					width		: '90%',
					height		: '90%',
					autoSize	: true,
					closeClick	: false,
					openEffect	: 'elastic',
					closeEffect	: 'none',
				});
			});
</script> 
<script src="js/ProtectionCalc.js"></script>
	
<script type="text/javascript">
	selectGender();
	selectSmoking();
	addProtectionScreen1Values();
</script>

<script type="text/javascript">
	function clickedButton()
	{
		addProtectionScreen1Values();
		
		//var CGender = localStorage.getItem("Step1");
		//var CAge = localStorage.getItem("Step2");
		//var CSmoking = localStorage.getItem("Step3");
		//document.getElementById('Error').value = Gender;
		var CAge = localStorage.getItem("Step2");
		
		//document.getElementById('Error').value = Smoking;
		if (Gender == undefined) {
			document.getElementById('Error').value = "Please Select Gender"	;
		} else if (CAge < 18 || CAge > 70 || CAge == "undefined") {
			document.getElementById('Error').value = "Entry Age cannot be < 18 years or > 70 years";
		} else if (Smoking == undefined) {
			document.getElementById('Error').value = "Please Select Your Smoking Habit";
		} else {
			window.location = 'protection02.html';
		}
	}
</script>




<h2 id="Error"></h2>


</body>
</html>