@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: PopLight;
  src: url(../../../public/fonts/Poppins-Light.ttf);
}

body {
  margin: 0 auto;
  padding: 0 0 0 0;
  font-family: PopLight !important;
  font-style: normal;
  background: radial-gradient(rgb(27, 36, 95), rgba(11, 16, 35, 1));
  color: #fff;
}
body,
nav,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

#logo1 {
  display: flex;
  height: 50px;
  width: 100px;
}

nav {
  min-height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

#main_nav {
  background-color: rgb(27, 36, 95);
  margin: 0px -100px;
  padding: 0px 100px;
  font-family: PopLight !important;
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.zerogrid {
  width: 1024px;
  height: auto;
  margin: auto;
}
/*start menu here*/
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  margin: 0 auto;
  padding: 0 6% 0 6%;
  height: auto;
  z-index: 1000;
  position: relative;
  width: 88%;
}
header {
  background-color: #ffffff;
  border-bottom: 0px solid #004889;
  position: fixed;
  z-index: 1000;
  margin: auto;
  padding: 0 0 0% 0;
  width: 100%;
  margin: 0 0 0 0;
}
header:after {
  content: " ";
  display: table;
  clear: both;
  text-align: center;
}
.rm-toggle.rm-button {
  margin-top: 8px;
}
.rm-css-animate.rm-menu-expanded {
  max-height: none;
  display: block;
}
.rm-container.rm-layout-expanded {
  float: right;
  margin: 20px 0 0 0;
}
.rm-nav a,
.rm-top-menu a {
  font-size: 15px;
}
.rm-layout-expanded .rm-nav > ul > li > a,
.rm-layout-expanded .rm-top-menu > .rm-menu-item > a {
  height: 40px;
  line-height: 40px;
}

.brand {
  float: left;
  height: auto;
}
.brand p {
  margin: 0;
}
.logo {
  /*margin:0px 238px 0 0;*/
  text-align: center;
  display: block;
  float: left;
  text-decoration: none;
  padding: 2% 0% 0 1%;
  z-index: 1;
  position: absolute;
  width: 150px;
}
/*end menu here*/

/*start logo here*/
.logomain {
  width: 100%;
  float: left;
  margin: 40px 0 0 0;
  background-color: #ffffff;
}
.logomain img {
  max-width: 100%;
  height: auto;
}
.logoL {
  width: 50%;
  float: left;
  text-align: left;
}
.logoR {
  width: 50%;
  float: left;
  text-align: right;
}
/*end logo here*/

/*start banner here*/
.wrap-text {
  width: 100%;
  background-color: #0073bb;
  float: left;
  margin: 7% 0 0 0;
  padding: 1% 0 1% 0;
  text-align: center;
}
.wrap-text .sec-title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 56%;
  float: left;
}
.wrap-text span {
  width: 10%;
  float: left;
  margin: 0% 0 0 12%;
}
.wrap-heading {
  width: 100%;
  float: left;
  margin: 0% 0 0 0;
  padding: 0.5% 0 0.5% 0;
  text-align: center;
  border-bottom: 1px solid #666;
}

.wrap-sec {
  width: 100%;
  float: left;
  margin: 5% 0% 5% 0;
  padding: 0% 0 0% 0;
  text-align: center;
}
.wrap-sec2 {
  width: 100%;
  float: left;
  margin: 1% 0 2% 0;
  padding: 0% 0 0% 0;
  text-align: center;
}

.policy01 {
  width: 34%;
  float: left;
  margin: 0% 0 0 0;
  padding: 0% 0 0% 0;
  text-align: center;
}
.policy02 {
  width: 28%;
  float: left;
  margin: 0% 0 0 0;
  padding: 0% 0 0% 0;
  text-align: center;
}
.policy03 {
  width: 32%;
  float: left;
  margin: 0% 3% 0 0;
  padding: 0% 0 0% 0;
  text-align: center;
}

.policy01 h6 {
  width: 100%;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 4% 0 5% 0;
  margin: 0 0 0% 0;
  line-height: 24px;
}
.policy01 box {
  width: 100%;
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 0 0 0 0;
  line-height: 24px;
}
.policy02 h6 {
  width: 100%;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 4% 0 0% 0;
  margin: 0 0 0% 0;
  line-height: 24px;
}
.policy02 box {
  width: 100%;
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 0 0 0 0;
  line-height: 24px;
}
.policy02 span {
  width: 100%;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 0 0 2% 0;
  line-height: 21px;
  float: left;
}
.policy03 h6 {
  width: 100%;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 4% 0 5% 0;
  margin: 0 0 0% 0;
  line-height: 24px;
}
.policy03 box {
  width: 100%;
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 0 0 0 0;
  line-height: 24px;
}
.admindrop01 {
  margin: 1% 20% 3% 20%;
  width: 60%;
  padding: 0 0 0 10px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  box-sizing: border-box;
  color: #fff;
  border: 4px solid #2196f3;
  border-radius: 5px;
  background-color: rgba(43, 55, 96, 1);
  height: 44px;
  float: left;
}

.quote_btn {
  width: 38%;
  margin: 0% 0 1.5% 30%;
  padding: 0 0 0 0;
  float: left;
  height: 40px;
}
.quote_btn a {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  padding: 2% 5% 2% 5%;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  -moz-border-radius: 30px;
  background-color: #2196f3;
  border: 1px solid #666;
}
.quote_btn a:hover {
  text-decoration: none;
  color: #ffffff;
}

/*end banner here*/
.zerogrid {
  width: 1024px;
  margin: 0 auto;
}
.premiumbox {
  width: 47%;
  float: left;
  margin: 5.5% 0 0 3%;
}
.premiumbox span1 {
  width: 20%;
  float: left;
  margin: 2% 0 0 0%;
}
.premiumbox h2 {
  width: 75%;
  float: right;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin: 1% 0 1% 2%;
  text-align: left;
  line-height: 30px;
  color: #fff;
}
.premiumbox text {
  width: 50%;
  float: right;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  margin: 0.5% 14% 0% 2%;
  text-align: left;
  line-height: 30px;
  color: #fff;
  font-style: italic;
}

.premiumbox span {
  width: 75%;
  float: right;
  margin: 0 0 0 2%;
  text-align: left;
}
.dropdown {
  width: 64%;
  height: 42px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-family: Lato;
  float: left;
  color: #333;
  background-color: #fff;
  border: 1px #999 solid;
  padding: 0 0 0 0%;
  margin: 0 5% 0 0%;
}
.button_minus {
  width: 8%;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-family: Lato;
  float: left;
  color: #333;
  background-color: #d8d8d8;
  border: 1px #999 solid;
  padding: 0 0 0 0%;
  margin: 0 0% 0 5%;
  border-radius: 1px;
}
.button_plus {
  width: 8%;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-family: Lato;
  float: right;
  color: #333;
  background-color: #d8d8d8;
  border: 1px #999 solid;
  padding: 0 0 0 0%;
  margin: 0 11.5% 0 0%;
  border-radius: 1px;
}
.assured_input {
  width: 45%;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-family: Lato;
  float: left;
  color: #333;
  background-color: #fff;
  border: 1px #999 solid;
  padding: 0 0 0 1%;
  margin: 0 0% 0 0.6%;
  border-radius: 1px;
  text-align: center;
}

.containmain {
  width: 100%;
  float: left;
  background-color: #0073bb;
  margin: 6% 0 0 0;
  padding: 1.2% 0 3% 0;
}
.premiumbox1 {
  width: 47%;
  float: left;
  margin: 2% 0 0 3%;
}
.premiumbox1 span1 {
  width: 20%;
  float: left;
  margin: 1% 0 0 0%;
}
.premiumbox1 h2 {
  width: 75%;
  float: right;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin: 1% 0 1% 2%;
  text-align: left;
  line-height: 30px;
  color: #fff;
}
.premiumbox1 span {
  width: 65%;
  float: right;
  margin: 0 10% 0 5%;
  text-align: left;
}
.premiumbox1 h4 {
  width: 20%;
  float: right;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  margin: 1% 64% 0% 0%;
  text-align: left;
  line-height: 37px;
  color: #fff;
}
.premiumbox1 h3 {
  width: 25%;
  float: right;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  margin: 1% 14% 0% 0%;
  text-align: left;
  line-height: 37px;
  color: #fff;
}
.premiumbox1 p {
  width: 96%;
  float: left;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  margin: 0% 0% 1% 0%;
  text-align: left;
  line-height: 30px;
  color: #fff;
}
.dropdown1 {
  width: 16%;
  height: 34px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  font-family: Lato;
  float: left;
  color: #fff;
  border: 0px #666 solid;
  padding: 0 0 0 0%;
  margin: 0 0% 1% 0%;
  background-color: transparent;
  text-align: left;
}
.dropdown3 {
  width: 88%;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  font-family: Lato;
  float: left;
  color: #fff;
  border: 0px #666 solid;
  padding: 0 0 1% 2%;
  margin: 0 0% 1% 1%;
  background-color: transparent;
  text-align: left;
}
.dropdown2 {
  width: 30%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: Lato;
  float: right;
  color: #fff;
  margin: 0.7% 45% 0% 0%;
  background-color: #0073bb;
  text-align: left;
}

.error {
  width: 70%;
  float: left;
  font-family: Lato;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-align: center;
  line-height: 18px;
  margin: 2% 0 0% 15%;
  padding: 1% 0 1% 0;
  border: none;
}
.containmain2 {
  width: 100%;
  float: left;
  background-color: #1268b3;
  margin: 0% 0 0 0;
  padding: 2% 0 2% 0;
  border-top: 1px solid #979797;
}

.footermain {
  width: 100%;
  background-color: #004889;
  float: left;
  margin: 0% 0 0 0;
  padding: 1.5% 0 1% 0;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  color: #fff;
}
.footer_L {
  width: 62%;
  float: left;
  padding: 0% 0% 0 0%;
  font-family: Lato;
  font-size: 14px;
  color: #fff;
  text-align: right;
}

.footer_R {
  width: 10%;
  float: right;
  padding: 0% 0% 0 0%;
  font-family: Lato;
  font-size: 14px;
  color: #fff;
}
.footer_R a {
  width: 10%;
  float: left;
  text-align: left;
  padding: 0% 0% 0 0%;
  font-family: Lato;
  font-size: 14px;
  color: #fff;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .zerogrid {
    width: 100%;
    height: auto;
    margin: auto;
  }
  header {
    background-color: #ffffff;
    border-bottom: 0px solid #004889;
    position: fixed;
    z-index: 1000;
    margin: auto;
    padding: 0 0 0.5% 0;
    width: 100%;
    margin: 0 0 0 0;
  }
  .logoL {
    width: 50%;
    float: left;
    text-align: left;
  }
  .logoR {
    width: 50%;
    float: left;
    text-align: right;
  }

  .wrap-text {
    width: 100%;
    background-color: #0073bb;
    float: left;
    margin: 10% 0 0 0;
    padding: 1% 0 1% 0;
    text-align: center;
  }
  .wrap-text .sec-title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    float: left;
  }
  .wrap-text span {
    width: 10%;
    float: left;
    margin: 0% 0 0 7%;
  }
  .wrap-heading {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0.5% 0 0.5% 0;
    text-align: center;
    border-bottom: 1px solid #666;
  }

  .wrap-sec {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }
  .wrap-sec2 {
    width: 100%;
    float: left;
    margin: 2% 0 1% 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 {
    width: 33%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }
  .policy02 {
    width: 33%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }
  .policy03 {
    width: 33%;
    float: left;
    margin: 0% 0% 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 6% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy01 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy02 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 6% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy02 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy03 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 6% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy03 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .admindrop01 {
    margin: 1% 20% 3% 20%;
    width: 60%;
    padding: 0 0 0 10px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    color: #333;
    border: 1px solid #e1e1e1;
    height: 44px;
    float: left;
  }

  .quote_btn {
    width: 44%;
    margin: 0% 0 2% 28%;
    padding: 0 0 0 0;
    float: left;
    height: 40px;
  }
  .quote_btn a {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 2% 5% 2% 5%;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    background-color: #d62049;
    border: 1px solid #666;
  }
  .quote_btn a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .error {
    width: 90%;
    float: left;
    font-family: Lato;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    margin: 1.5% 0 0 5%;
    padding: 1% 0 1% 0;
    border: none;
  }

  .footermain {
    width: 100%;
    background-color: #004889;
    float: left;
    margin: 0% 0 0 0;
    padding: 1.5% 0 1% 0;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    color: #fff;
  }
  .footer_L {
    width: 70%;
    float: left;
    padding: 0% 0% 0 2%;
    font-family: Lato;
    font-size: 14px;
    color: #fff;
    text-align: left;
  }

  .footer_R {
    width: 10%;
    float: right;
    padding: 0% 0% 0 0%;
    font-family: Lato;
    font-size: 14px;
    color: #fff;
  }
  .footer_R a {
    width: 10%;
    float: left;
    text-align: left;
    padding: 0% 0% 0 0%;
    font-family: Lato;
    font-size: 14px;
    color: #fff;
  }
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
  header {
    background-color: #ffffff;
    border-bottom: 0px solid #004889;
    position: fixed;
    z-index: 1000;
    margin: auto;
    padding: 0 0 2.5% 0;
    width: 100%;
  }

  .zerogrid {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .logomain {
    width: 100%;
    float: left;
    margin: 45px 0 0 0;
  }
  .logoL {
    width: 50%;
    float: left;
    text-align: left;
  }
  .logoR {
    width: 50%;
    float: left;
    text-align: right;
  }

  .wrap-text {
    width: 100%;
    background-color: #0073bb;
    float: left;
    margin: 11% 0 0 0;
    padding: 1% 0 1% 0;
    text-align: center;
  }
  .wrap-text .sec-title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    float: left;
  }
  .wrap-text span {
    width: 10%;
    float: left;
    margin: 0% 0 0 2%;
  }
  .wrap-heading {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0.5% 0 0.5% 0;
    text-align: center;
    border-bottom: 1px solid #666;
  }

  .wrap-sec {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }
  .wrap-sec2 {
    width: 100%;
    float: left;
    margin: 1% 0 2% 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 {
    width: 60%;
    float: left;
    margin: 0% 20% 0 20%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy02 {
    width: 60%;
    float: left;
    margin: 0% 20% 0 20%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy03 {
    width: 60%;
    float: left;
    margin: 0% 20% 0 20%;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 5% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy01 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy02 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 5% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy02 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy03 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 5% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy03 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .admindrop01 {
    margin: 1% 0 3% 28%;
    width: 180px;
    padding: 0 0 0 10px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    color: #333;
    border: 1px solid #e1e1e1;
    height: 44px;
  }

  .quote_btn {
    width: 50%;
    margin: 3% 0 2% 25%;
    padding: 0 0 0 0;
    float: left;
    height: 40px;
  }
  .quote_btn a {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 2% 5% 2% 5%;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    background-color: #d62049;
    border: 1px solid #666;
  }
  .quote_btn a:hover {
    text-decoration: none;
    color: #ffffff;
  }

  .error {
    width: 98%;
    float: left;
    font-family: Lato;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    margin: 2% 0 0 1%;
    padding: 1% 0 1% 0;
    border: none;
  }

  .premiumbox {
    width: 48%;
    float: left;
    margin: 5% 0 0 2%;
  }
  .premiumbox span1 {
    width: 20%;
    float: left;
    margin: 4% 0 0 0%;
  }
  .premiumbox h2 {
    width: 77%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 1% 0 1% 0%;
    text-align: left;
    line-height: 30px;
    color: #333;
  }
  .premiumbox text {
    width: 50%;
    float: right;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    margin: 0.5% 5% 0% 2%;
    text-align: left;
    line-height: 30px;
    color: #333;
    font-style: italic;
  }
  .premiumbox span {
    width: 75%;
    float: right;
    margin: 0 0 0 2%;
    text-align: left;
  }
  .dropdown {
    width: 70%;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 5% 0 0%;
  }

  .button_minus {
    width: 10%;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #d8d8d8;
    border: 1px #999 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 0 2%;
  }
  .button_plus {
    width: 10%;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    float: right;
    color: #333;
    background-color: #d8d8d8;
    border: 1px #999 solid;
    padding: 0 0 0 0%;
    margin: 0 10.2% 0 0%;
  }
  .assured_input {
    width: 45%;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #999 solid;
    padding: 0 0 0 1%;
    margin: 0 0% 0 0.6%;
    text-align: center;
  }

  .containmain {
    width: 100%;
    float: left;
    background-color: #0073bb;
    margin: 5% 0 0 0;
    padding: 2% 0 3% 0;
  }
  .premiumbox1 {
    width: 47%;
    float: left;
    margin: 1% 0 0 2%;
  }
  .premiumbox1 span1 {
    width: 18%;
    float: left;
    margin: 3% 0 0 0%;
  }
  .premiumbox1 h2 {
    width: 79%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 1% 0 0% 1%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .premiumbox1 span {
    width: 80%;
    float: right;
    margin: 0 0% 0 0%;
    text-align: left;
  }
  .premiumbox1 h4 {
    width: 20%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    margin: 1% 58% 0% 0%;
    text-align: left;
    line-height: 37px;
    color: #fff;
  }
  .premiumbox1 p {
    width: 96%;
    float: left;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    margin: 1% 0% 1% 1%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .dropdown1 {
    width: 20%;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 1% 0%;
    background-color: transparent;
    text-align: center;
  }
  .dropdown3 {
    width: 88%;
    height: 38px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 0% 2%;
    background-color: transparent;
    text-align: left;
  }
  .dropdown2 {
    width: 35%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: Lato;
    float: right;
    color: #fff;
    margin: 1% 33% 0% 0%;
    background-color: #0073bb;
    text-align: left;
  }

  .containmain2 {
    width: 100%;
    float: left;
    background-color: #1268b3;
    margin: 0% 0 0 0;
    padding: 1% 0 1% 0;
    border-top: 1px solid #979797;
  }

  .footermain {
    width: 100%;
    background-color: #004889;
    float: left;
    margin: 0% 0 0 0;
    padding: 1.5% 0 1% 0;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    color: #fff;
  }
}

@media only screen and (max-width: 640px) and (min-width: 480px) {
  .zerogrid {
    width: 100%;
    height: auto;
    margin: auto;
  }
  header {
    background-color: #ffffff;
    border-bottom: 0px solid #004889;
    position: fixed;
    z-index: 1000;
    margin: auto;
    padding: 0 0 3% 0;
    width: 100%;
    margin: 0 0 0 0;
  }
  .logomain img {
    max-width: 70%;
    height: auto;
  }
  .logoL {
    width: 50%;
    float: left;
    text-align: left;
  }
  .logoR {
    width: 50%;
    float: left;
    text-align: right;
  }

  .wrap-text {
    width: 100%;
    background-color: #0073bb;
    float: left;
    margin: 13% 0 0 0;
    padding: 1% 0 1% 0;
    text-align: center;
  }
  .wrap-text .sec-title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    float: left;
  }
  .wrap-text span {
    width: 10%;
    float: left;
    margin: 0% 0 0 2%;
  }
  .wrap-text img {
    max-width: 70%;
  }
  .wrap-heading {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 1% 0 1% 0;
    text-align: center;
    border-bottom: 1px solid #666;
  }

  .wrap-sec {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }
  .wrap-sec2 {
    width: 100%;
    float: left;
    margin: 1% 0 2% 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 {
    width: 60%;
    float: left;
    margin: 0% 20% 4% 20%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy02 {
    width: 60%;
    float: left;
    margin: 0% 20% 4% 20%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy03 {
    width: 60%;
    float: left;
    margin: 0% 20% 5% 20%;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy01 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy02 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy02 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy03 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy03 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .admindrop01 {
    margin: 1% 0 3% 24%;
    width: 180px;
    padding: 0 0 0 10px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    color: #333;
    border: 1px solid #e1e1e1;
    height: 44px;
  }

  .quote_btn {
    width: 60%;
    margin: 0% 0 5% 20%;
    padding: 0 0 0 0;
    float: left;
    height: 40px;
  }
  .quote_btn a {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 2% 5% 2% 5%;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    background-color: #d62049;
    border: 1px solid #666;
  }
  .quote_btn a:hover {
    text-decoration: none;
    color: #ffffff;
  }

  .error {
    width: 98%;
    float: left;
    font-family: Lato;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    margin: 3% 0 0 1%;
    padding: 1% 0 1% 0;
    border: none;
  }
  .premiumbox {
    width: 80%;
    float: left;
    margin: 4% 0 0 10%;
  }
  .premiumbox span1 {
    width: 20%;
    float: left;
  }
  .premiumbox h2 {
    width: 75%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 1% 0 1% 2%;
    text-align: left;
    line-height: 30px;
    color: #333;
  }
  .premiumbox text {
    width: 50%;
    float: right;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    margin: 0.5% 16% 0% 2%;
    text-align: left;
    line-height: 30px;
    color: #333;
  }
  .premiumbox span {
    width: 75%;
    float: right;
    margin: 0 0 0 2%;
    text-align: left;
  }
  .dropdown {
    width: 80%;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 5% 0 0%;
  }

  .button_minus {
    width: 8%;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #d8d8d8;
    border: 1px #999 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 0 5%;
  }
  .button_plus {
    width: 8%;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    float: right;
    color: #333;
    background-color: #d8d8d8;
    border: 1px #999 solid;
    padding: 0 0 0 0%;
    margin: 0 11.3% 0 0%;
  }
  .assured_input {
    width: 45%;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #999 solid;
    padding: 0 0 0 1%;
    margin: 0 0% 0 0.6%;
    text-align: center;
  }

  .containmain {
    width: 100%;
    float: left;
    background-color: #0073bb;
    margin: 3% 0 0 0;
    padding: 2% 0 2% 0;
  }
  .premiumbox1 {
    width: 80%;
    float: left;
    margin: 4% 0 0 10%;
  }
  .premiumbox1 span1 {
    width: 18%;
    float: left;
  }
  .premiumbox1 h2 {
    width: 79%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 1% 0 0% 1%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .premiumbox1 span {
    width: 80%;
    float: right;
    margin: 0 0% 0 0%;
    text-align: left;
  }
  .premiumbox1 h4 {
    width: 20%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    margin: 1% 68% 0% 0%;
    text-align: left;
    line-height: 37px;
    color: #fff;
  }
  .premiumbox1 p {
    width: 96%;
    float: left;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    margin: 1% 0% 1% 0%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .dropdown1 {
    width: 10%;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 1% 0%;
    background-color: transparent;
    text-align: center;
  }
  .dropdown3 {
    width: 88%;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 1%;
    margin: 0 0% 1% 1%;
    background-color: transparent;
    text-align: left;
  }
  .dropdown2 {
    width: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: Lato;
    float: right;
    color: #fff;
    margin: 0.9% 48% 0% 0%;
    background-color: #0073bb;
    text-align: left;
  }

  .containmain2 {
    width: 100%;
    float: left;
    background-color: #1268b3;
    margin: 0% 0 4% 0;
    padding: 1.7% 0 1.7% 0;
    border-top: 1px solid #979797;
  }

  .footermain {
    width: 100%;
    background-color: #004889;
    float: left;
    margin: 0% 0 0 0;
    padding: 1.5% 0 1% 0;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
  }
  .footer_L {
    width: 80%;
    float: left;
    padding: 0% 0% 0 1%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
    text-align: left;
  }

  .footer_R {
    width: 10%;
    float: right;
    padding: 0% 2% 0 0%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
  }
  .footer_R a {
    width: 10%;
    float: left;
    text-align: left;
    padding: 0% 0% 0 0%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .zerogrid {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .wrapper {
    margin: 0 auto;
    padding: 0 3% 0 3%;
    height: auto;
    z-index: 1000;
    position: relative;
    width: 94%;
  }
  .logomain {
    width: 100%;
    float: left;
    margin: 50px 0 0 0;
  }
  .logomain img {
    max-width: 80%;
    height: auto;
  }
  .logoL {
    width: 50%;
    float: left;
    text-align: left;
  }
  .logoR {
    width: 50%;
    float: left;
    text-align: right;
  }
  .logo img {
    max-width: 70%;
  }
  .logo {
    /*margin:0px 238px 0 0;*/
    text-align: left;
    display: block;
    float: left;
    text-decoration: none;
    padding: 2% 0% 0 1%;
    z-index: 1;
    position: absolute;
  }
  .wrap-text {
    width: 100%;
    background-color: #0073bb;
    float: left;
    margin: 15% 0 0 0;
    padding: 1% 0 1% 0;
    text-align: center;
  }
  .wrap-text .sec-title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    float: left;
    line-height: 26px;
  }
  .wrap-text span {
    width: 10%;
    float: left;
    margin: 4% 0 0 2%;
  }
  .wrap-text img {
    max-width: 80%;
  }
  .wrap-heading {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 1.8% 0 1% 0;
    text-align: center;
    border-bottom: 1px solid #666;
  }
  .wrap-heading img {
    max-width: 70%;
  }
  .wrap-sec {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }
  .wrap-sec2 {
    width: 100%;
    float: left;
    margin: 5% 0 1% 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 {
    width: 90%;
    float: left;
    margin: 0% 5% 0 5%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy02 {
    width: 90%;
    float: left;
    margin: 0% 5% 0 5%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy03 {
    width: 90%;
    float: left;
    margin: 0% 5% 5% 5%;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy01 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy02 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy02 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy03 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy03 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .admindrop01 {
    margin: 1% 0 3% 26%;
    width: 180px;
    padding: 0 0 0 10px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    color: #333;
    border: 1px solid #e1e1e1;
    height: 44px;
  }

  .quote_btn {
    width: 96%;
    margin: 0% 0 8% 2%;
    padding: 0 0 0 0;
    float: left;
    height: 40px;
  }
  .quote_btn a {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 2% 5% 2% 5%;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    background-color: #d62049;
    border: 1px solid #666;
  }
  .quote_btn a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .error {
    width: 98%;
    float: left;
    font-family: Lato;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    margin: 3% 0 0 1%;
    padding: 1% 0 1% 0;
    border: none;
  }

  .premiumbox {
    width: 80%;
    float: left;
    margin: 5% 0 0 10%;
  }
  .premiumbox span1 {
    width: 20%;
    float: left;
    margin: 4% 0 0 0%;
  }
  .premiumbox h2 {
    width: 75%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 0% 0 1% 2%;
    text-align: left;
    line-height: 30px;
    color: #333;
  }
  .premiumbox text {
    width: 50%;
    float: right;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    margin: 0.5% 0% 0% 2%;
    text-align: left;
    line-height: 30px;
    color: #333;
    font-style: italic;
  }
  .premiumbox span {
    width: 75%;
    float: right;
    margin: 0 0 0 2%;
    text-align: left;
  }
  .dropdown {
    width: 91%;
    height: 37px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 5% 0 0%;
  }

  .button_minus {
    width: 8%;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #d8d8d8;
    border: 1px #999 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 0 5%;
  }
  .button_plus {
    width: 8%;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    float: right;
    color: #333;
    background-color: #d8d8d8;
    border: 1px #999 solid;
    padding: 0 0 0 0%;
    margin: 0 7.5% 0 0%;
  }
  .assured_input {
    width: 48%;
    height: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #999 solid;
    padding: 0 0 0 1%;
    margin: 0 0% 0 0.8%;
    text-align: center;
  }

  .containmain {
    width: 100%;
    float: left;
    background-color: #0073bb;
    margin: 8% 0 0 0;
    padding: 2% 0 2% 0;
  }
  .premiumbox1 {
    width: 80%;
    float: left;
    margin: 4% 0 0 10%;
  }
  .premiumbox1 span1 {
    width: 18%;
    float: left;
    margin: 4% 0 0 0;
  }
  .premiumbox1 h2 {
    width: 79%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 1% 0 1% 1%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .premiumbox1 span {
    width: 80%;
    float: right;
    margin: 0 0% 0 0%;
    text-align: left;
  }
  .premiumbox1 h4 {
    width: 20%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    margin: 1% 63% 0% 0%;
    text-align: left;
    line-height: 37px;
    color: #fff;
  }
  .premiumbox1 p {
    width: 98%;
    float: left;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    margin: 1% 0% 1% 0%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .dropdown1 {
    width: 15%;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 1% 0%;
    background-color: transparent;
    text-align: center;
  }
  .dropdown3 {
    width: 88%;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 1%;
    margin: 0 0% 1% 1%;
    background-color: transparent;
    text-align: left;
  }
  .dropdown2 {
    width: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: Lato;
    float: right;
    color: #fff;
    margin: 0.9% 35% 0% 0%;
    background-color: #0073bb;
    text-align: left;
  }
  .premiumbox1 h3 {
    width: 25%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    margin: 1% 30% 0% 0%;
    text-align: left;
    line-height: 37px;
    color: #fff;
  }

  .containmain2 {
    width: 100%;
    float: left;
    background-color: #1268b3;
    margin: 0% 0 0% 0;
    padding: 3% 0 3% 0;
    border-top: 1px solid #979797;
  }

  .footermain {
    width: 90%;
    background-color: #004889;
    float: left;
    margin: 0% 0 0 0;
    padding: 1.5% 5% 1% 5%;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
  }

  .footer_L {
    width: 80%;
    float: left;
    padding: 0% 0% 0 1%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
    text-align: left;
  }

  .footer_R {
    width: 10%;
    float: left;
    padding: 0% 2% 0 0%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
  }
  .footer_R a {
    width: 10%;
    float: left;
    text-align: left;
    padding: 0% 0% 0 0%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
  }
}

@media only screen and (max-width: 375px) {
  .zerogrid {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .logo {
    /*margin:0px 238px 0 0;*/
    text-align: left;
    display: block;
    float: left;
    text-decoration: none;
    padding: 3% 0% 0 1%;
    z-index: 1;
    position: absolute;
  }
  .logomain {
    width: 100%;
    float: left;
    margin: 50px 0 0 0;
  }
  .logomain img {
    max-width: 80%;
    height: auto;
  }
  .logoL {
    width: 50%;
    float: left;
    text-align: left;
  }
  .logoR {
    width: 50%;
    float: left;
    text-align: right;
  }

  .wrap-text {
    width: 100%;
    background-color: #0073bb;
    float: left;
    margin: 15% 0 0 0;
    padding: 0.5% 0 0.5% 0;
    text-align: center;
  }
  .wrap-text .sec-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    float: left;
    line-height: 24px;
  }
  .wrap-text span {
    width: 12%;
    float: left;
    margin: 3% 0 0 4%;
  }
  .wrap-text img {
    max-width: 90%;
  }
  .wrap-heading {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 1% 0 1% 0;
    text-align: center;
    border-bottom: 1px solid #666;
  }

  .wrap-sec {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }
  .wrap-sec2 {
    width: 100%;
    float: left;
    margin: 5% 0 1% 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 {
    width: 90%;
    float: left;
    margin: 0% 5% 0 5%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy02 {
    width: 90%;
    float: left;
    margin: 0% 5% 0 5%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy03 {
    width: 90%;
    float: left;
    margin: 0% 5% 5% 5%;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy01 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy02 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy02 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy03 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy03 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .admindrop01 {
    margin: 1% 0 3% 21%;
    width: 180px;
    padding: 0 0 0 10px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    color: #333;
    border: 1px solid #e1e1e1;
    height: 44px;
  }

  .quote_btn {
    width: 96%;
    margin: 0% 0 10% 2%;
    padding: 0 0 0 0;
    float: left;
    height: 40px;
  }
  .quote_btn a {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 2% 5% 2% 5%;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    background-color: #d62049;
    border: 1px solid #666;
  }
  .quote_btn a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .error {
    width: 98%;
    float: left;
    font-family: Lato;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    margin: 5% 0 0 1%;
    padding: 1% 0 1% 0;
    border: none;
  }

  .premiumbox {
    width: 90%;
    float: left;
    margin: 4% 0 0 5%;
  }
  .premiumbox span1 {
    width: 20%;
    float: left;
    margin: 3% 0 0 0%;
  }
  .premiumbox h2 {
    width: 75%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 0% 0 1% 2%;
    text-align: left;
    line-height: 30px;
    color: #333;
  }
  .premiumbox text {
    width: 50%;
    float: right;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    margin: 0.5% 0% 0% 2%;
    text-align: left;
    line-height: 30px;
    color: #333;
    font-style: italic;
  }
  .premiumbox span {
    width: 75%;
    float: right;
    margin: 0 0 0 2%;
    text-align: left;
  }
  .dropdown {
    width: 95%;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 5% 0 0%;
  }

  .button_minus {
    width: 7%;
    height: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #d8d8d8;
    border: 1px #999 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 0 5%;
  }
  .button_plus {
    width: 7%;
    height: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    float: right;
    color: #333;
    background-color: #d8d8d8;
    border: 1px #999 solid;
    padding: 0 0 0 0%;
    margin: 0 7% 0 0%;
  }
  .assured_input {
    width: 49%;
    height: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #999 solid;
    padding: 0 0 0 1%;
    margin: 0 0% 0 1.5%;
    text-align: center;
  }

  .containmain {
    width: 100%;
    float: left;
    background-color: #0073bb;
    margin: 3% 0 0 0;
    padding: 1% 0 2% 0;
  }
  .premiumbox1 {
    width: 90%;
    float: left;
    margin: 3% 0 0 5%;
  }
  .premiumbox1 span1 {
    width: 18%;
    float: left;
    margin: 4% 0 0 0;
  }
  .premiumbox1 h2 {
    width: 79%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 1% 0 1% 1%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .premiumbox1 span {
    width: 80%;
    float: right;
    margin: 0 0% 0 0%;
    text-align: left;
  }
  .premiumbox1 h4 {
    width: 20%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    margin: 1% 63% 0% 0%;
    text-align: left;
    line-height: 37px;
    color: #fff;
  }
  .premiumbox1 p {
    width: 98%;
    float: left;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    margin: 0% 0% 1% 2%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .dropdown1 {
    width: 17%;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 1% 0%;
    background-color: transparent;
    text-align: center;
  }
  .dropdown3 {
    width: 89%;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 1%;
    margin: 0 0% 1% 1%;
    background-color: transparent;
    text-align: left;
  }
  .dropdown2 {
    width: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: Lato;
    float: right;
    color: #fff;
    margin: 0.9% 35% 0% 0%;
    background-color: #0073bb;
    text-align: left;
  }
  .premiumbox1 h3 {
    width: 25%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    margin: 1% 30% 0% 0%;
    text-align: left;
    line-height: 37px;
    color: #fff;
  }

  .containmain2 {
    width: 100%;
    float: left;
    background-color: #1268b3;
    margin: 0% 0 0% 0;
    padding: 2.5% 0 2.5% 0;
    border-top: 1px solid #979797;
  }

  .footermain {
    width: 96%;
    background-color: #004889;
    float: left;
    margin: 0% 0 0 0;
    padding: 1.5% 2% 1.5% 2%;
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    color: #fff;
  }
  .footer_L {
    width: 80%;
    float: left;
    padding: 0% 0% 0 1%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
    text-align: left;
  }

  .footer_R {
    width: 10%;
    float: left;
    padding: 0% 2% 0 0%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
  }
  .footer_R a {
    width: 10%;
    float: left;
    text-align: left;
    padding: 0% 0% 0 0%;
    font-family: Lato;
    font-size: 12px;
    color: #fff;
  }
}

@media only screen and (max-width: 320px) {
  .wrap-text {
    width: 100%;
    background-color: #0073bb;
    float: left;
    margin: 16% 0 0 0;
    padding: 0.5% 0 0% 0;
    text-align: center;
  }
  .wrap-text .sec-title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    float: left;
    line-height: 26px;
  }
  .wrap-text span {
    width: 10%;
    float: left;
    margin: 5% 0 0 2%;
  }
  .wrap-heading {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 1.5% 0 1% 0;
    text-align: center;
    border-bottom: 1px solid #666;
  }

  .wrap-sec {
    width: 100%;
    float: left;
    margin: 0% 0 0 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }
  .wrap-sec2 {
    width: 100%;
    float: left;
    margin: 5% 0 1% 0;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 {
    width: 90%;
    float: left;
    margin: 0% 5% 0 5%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy02 {
    width: 90%;
    float: left;
    margin: 0% 5% 0 5%;
    padding: 0% 0 0% 0;
    text-align: center;
    border-bottom: 1px dotted #333;
  }
  .policy03 {
    width: 90%;
    float: left;
    margin: 0% 5% 5% 5%;
    padding: 0% 0 0% 0;
    text-align: center;
  }

  .policy01 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy01 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy02 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy02 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .policy03 h6 {
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 4% 0 5% 0;
    margin: 0 0 0% 0;
    line-height: 24px;
  }
  .policy03 box {
    width: 100%;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 0 0 0 0;
    line-height: 24px;
  }
  .admindrop01 {
    margin: 1% 0 3% 18%;
    width: 180px;
    padding: 0 0 0 10px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    color: #333;
    border: 1px solid #e1e1e1;
    height: 44px;
  }

  .quote_btn {
    width: 98%;
    margin: 0% 0 10% 1%;
    padding: 0 0 0 0;
    float: left;
    height: 40px;
  }
  .quote_btn a {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 2% 5% 2% 5%;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    background-color: #d62049;
    border: 1px solid #666;
  }
  .quote_btn a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .error {
    width: 98%;
    float: left;
    font-family: Lato;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    margin: 5% 0 0 1%;
    padding: 1% 0 1% 0;
    border: none;
  }

  .premiumbox {
    width: 90%;
    float: left;
    margin: 4% 0 0 5%;
  }
  .premiumbox span1 {
    width: 20%;
    float: left;
    margin: 3% 0 0 0%;
  }
  .premiumbox h2 {
    width: 75%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 0% 0 1% 2%;
    text-align: left;
    line-height: 30px;
    color: #333;
  }

  .premiumbox span {
    width: 75%;
    float: right;
    margin: 0 0 0 2%;
    text-align: left;
  }
  .dropdown {
    width: 96%;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-family: Lato;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 5% 0 0%;
  }

  .containmain {
    width: 100%;
    float: left;
    background-color: #0073bb;
    margin: 6% 0 0 0;
    padding: 2% 0 2% 0;
  }
  .premiumbox1 {
    width: 90%;
    float: left;
    margin: 4% 0 0 6%;
  }
  .premiumbox1 span1 {
    width: 18%;
    float: left;
    margin: 4% 0 0 0;
  }
  .premiumbox1 h2 {
    width: 79%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 1% 0 1% 1%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .premiumbox1 span {
    width: 80%;
    float: right;
    margin: 0 0% 0 0%;
    text-align: left;
  }
  .premiumbox1 h4 {
    width: 20%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    margin: 1% 58% 0% 0%;
    text-align: left;
    line-height: 37px;
    color: #fff;
  }
  .premiumbox1 p {
    width: 98%;
    float: left;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    margin: 0% 0% 1% 2%;
    text-align: left;
    line-height: 30px;
    color: #fff;
  }
  .dropdown1 {
    width: 18%;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 0%;
    margin: 0 0% 1% 0%;
    background-color: transparent;
    text-align: center;
  }
  .dropdown3 {
    width: 88%;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    font-family: Lato;
    float: left;
    color: #fff;
    border: 0px #666 solid;
    padding: 0 0 0 1%;
    margin: 0 0% 1% 1%;
    background-color: transparent;
    text-align: left;
  }
  .dropdown2 {
    width: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: Lato;
    float: right;
    color: #fff;
    margin: 0.9% 33% 0% 0%;
    background-color: #0073bb;
    text-align: left;
  }
  .premiumbox1 h3 {
    width: 25%;
    float: right;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    margin: 1% 30% 0% 0%;
    text-align: left;
    line-height: 37px;
    color: #fff;
  }

  .containmain2 {
    width: 100%;
    float: left;
    background-color: #1268b3;
    margin: 0% 0 0% 0;
    padding: 1.7% 0 1.7% 0;
    border-top: 1px solid #979797;
  }
  .footermain {
    width: 88%;
    background-color: #004889;
    float: left;
    margin: 0% 0 0 0;
    padding: 1.5% 6% 1.5% 6%;
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    color: #fff;
  }
}
